:root{
    --color-fondo: #0D6526;
    --color-contenedor: #8B1E1E;
    --color-texto: #FFFFFF;
    --color-texto-correcto: #0D6526;
    --color-texto-incorrecto: #D62828;
    --color-boton: #F6C744;           
    --color-boton-hover: #d9aa24;
    --negro: #000000;   
    --fuente-principal: 'Bangers', sans-serif;
}

body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: var(--fuente-principal);
    letter-spacing: 1.5px;
    margin: 0;
    padding: 0;
}

.contenedor{
    background-color: var(--color-contenedor);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid var(--negro);
    box-shadow: 0 0 10px var(--negro);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-datos{
    padding-bottom: 3rem;
}

.contenedor-pregunta{
    display: flex;
    flex-direction: column;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.boton-opcion{
    font-family: var(--fuente-principal);
    letter-spacing: 1.5px;
    background-color: var(--color-boton);
    color: var(--negro);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton-opcion:hover{
    background-color: var(--color-boton-hover);
    transform: scale(1.01);
}

.boton-opcion.correcta {
    background-color: var(--color-texto-correcto);
    color: var(--color-borde);
}

.boton-opcion.incorrecta {
    background-color: var(--color-texto-incorrecto);
    color: var(--color-texto);
}

.boton-opcion.no-seleccionada {
    opacity: 0.5;
}